.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1495996797143-9fc04e79e304?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #cfcece;
}