
<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
             <div class="col-md-8 col-lg-6">
                 <div class="login d-flex align-items-center py-5">
                     <div class="container">
                         <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                            <h1 class="login-heading mb-4">Ayudanos a ayudarte</h1>
                            <p>Introduce el correo electrónico asociado a tu cuenta para enviarte tu contraseña</p>
                            <form>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="nombre@ejemplo.com" required="" autofocus="">
                                    <label for="floatingInput">Correo electronico</label>
                                </div>                        
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                        type="button" >Enviar</button>
                                </div>

                                <div class="d-grid">
                                    <div class="">
                                        <span>No tienes cuenta? <a class="small"
                                                href="register">Registrate</a></span>
                                    </div>
                                </div>
